* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #1c1c1c;
}

#appBox {
  background: #1f2937;
  width: 550px;
  height: 550px;
  margin: 20px auto;
  padding: 50px;
}

#mainHeader {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
}

#greenHeader {
  color: #4adf86;
}

#subHeader,
#sliderMessage {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #d5d4d8;
  margin-top: 10px;
}

#generateButton {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  background: #10b981;
  padding: 8px 16px;
  margin: 60px 0 20px;
  border-radius: 6px;
  border: none;
}

#sliderAndNumber {
  display: flex;
  align-items: center;
  justify-content: start;
}

#sliderMessage {
  font-size: 16px;
  margin: 0;
  width: 100px;
}

#sliderNumber {
  width: 40px;
  height: 40px;
  background: #273549;
  color: #55f991;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slideContainer {
  width: 280px;
  margin: 10px 30px 0 0;
}

.slider {
  -webkit-appearance: none;
  width: 280px;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-bottom: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4adf86;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4adf86;
  cursor: pointer;
  border-radius: 50%;
}

#line {
  height: 2px;
  width: 100%;
  background: #2f3e53;
  margin: 35px 0;
}

#outputContainer {
  display: flex;
  justify-content: space-between;
}

.passwordOutput {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 210px;
  background: #273549;
  border-radius: 6px;
  color: #55f991;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
